/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan, 2019, 3:45:35 PM
    Author     : omkar
*/
//nav bar css
nav.navbar {
    background-color: white;

}
ul.nav.navbar-nav.align {
    float: right;
    padding-right: 15px;

}
ul.nav.navbar-nav.align.hover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
}
h3{
    padding-right: 21px;
}
a:hover{
    color:red;
}
.container-fluid.colour {
    background-color: whitesmoke;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.tickets_btn {
    display: inline-block;
    background: blue ;
    color: #fff;
    font-family: "Roboto", sans-serif;
    width: 134px;
    font-size: 16px;
    font-weight: 500;
    border:black;
    line-height: 48px;
    border-radius: 3px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear 0s;
}
.sticky + .content {
  padding-top: 60px;
}


//footer css 
a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}
.btn-danger {
    background-color: #ff3547!important;
    color: #fff!important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}
.fab {
    font-family: 'Font Awesome 5 Brands';
}


//social icon
.text-center {
    text-align: center!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.mr-1, .mx-1 {
    margin-right: .25rem!important;
}
.ml-1, .mx-1 {
    margin-left: .25rem!important;
}
.fab {
    font-family: 'Font Awesome 5 Brands';
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.btn-tw {
    background-color: #55acee!important;
    color: #fff!important;
}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff!important;
}
.btn-gplus {
    background-color: #e15f4f;
}
.btn-li {
    background-color: #0082ca!important;
    color: #fff!important;
}
.fa-twitter:before {
    content: "\f099";
}
.fa-facebook-f:before {
    content: "\f39e";
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}


h2.pad {
    padding-left: 460px;
}

.manage{
     padding-top: 50px;
                 padding-left: 200px;
}
p.pad{
    padding-left: 480px;
    
}